<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065027607639-dc57ahk2j52lgllp41r1tvrna6cv6m4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065027607639-dc57ahk2j52lgllp41r1tvrna6cv6m4t</string>
	<key>API_KEY</key>
	<string>AIzaSyACwG_PDQNLtfwT3KAT2cJ-8pPpw1pkrMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1065027607639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.sklareksinha.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-6a480</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-6a480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065027607639:ios:4d9ed07e84df52e4619712</string>
</dict>
</plist>